.board {
  width: 700px;
  height: 600px;
  background: rgb(244, 231, 199);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  border: 30px solid rgb(161, 118, 56);
  align-items: center;
  align-content: space-between;
  margin-bottom: 10px;
}
