.barWrapper {
  /* height: 500px;
    width: 40px; */
  position: relative;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.polygon {
  fill: rgb(100, 75, 65);
}

.barWrapper:hover .polygon {
  fill: yellow;
}
